<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Friend #<%= @friend.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/friends" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @friend.user %>
          <a href="/friends/<%= @friend.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit friend
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @friend.user %>
          <a href="/delete_friend/<%= @friend.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete friend
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Friend
      </dt>
      <dd>
        <% if @friend.user.present? %>
          <a href="/users/<%= @friend.friend_id %>">
            <%= @friend.user.username %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@friend.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@friend.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "friend_templates/friend_attendences" %>
  </div>
</div>
