<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Attendence #<%= @attendence.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/attendences" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @attendence.user %>
          <a href="/attendences/<%= @attendence.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit attendence
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @attendence.user %>
          <a href="/delete_attendence/<%= @attendence.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete attendence
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <% if @attendence.user.present? %>
          <a href="/users/<%= @attendence.user_id %>">
            <%= @attendence.user.username %>
          </a>
        <% end %>
      </dd>

      <dt>
        Restaurant
      </dt>
      <dd>
        <% if @attendence.restaurant.present? %>
          <a href="/restaurants/<%= @attendence.restaurant_id %>">
            <%= @attendence.restaurant.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Bar
      </dt>
      <dd>
        <% if @attendence.bar.present? %>
          <a href="/bars/<%= @attendence.bar_id %>">
            <%= @attendence.bar.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@attendence.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@attendence.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

