<% if @bar.errors.any? %>
  <% @bar.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit bar #<%= @bar.id %>
</h1>

<hr>

<form action="/update_bar/<%= @bar.id %>" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @bar.name %>">
  </div>

  <div class="form-group">
    <label for="location">
      Location
    </label>

    <input type="text" id="location" name="location" class="form-control" value="<%= @bar.location %>">
  </div>

  <div class="form-group">
    <label for="drink_deal">
      Drink deal
    </label>

    <input type="text" id="drink_deal" name="drink_deal" class="form-control" value="<%= @bar.drink_deal %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update bar
  </button>
</form>

<hr>

<a href="/bars">
  Go back
</a>
