<h1>
  Edit review #<%= @review.id %>
</h1>

<hr>

<form action="/update_review/<%= @review.id %>" method="post">

  <div class="form-group">
    <label for="body">
      Body
    </label>

    <textarea id="body" name="body" class="form-control" rows="3"><%= @review.body %></textarea>
  </div>


  <div class="form-group">
    <label for="restaurant_id">
      Restaurant
    </label>

    <%= select_tag(:restaurant_id, options_from_collection_for_select(Restaurant.all, :id, :name, @review.restaurant_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="bar_id">
      Bar
    </label>

    <%= select_tag(:bar_id, options_from_collection_for_select(Bar.all, :id, :name, @review.bar_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update review
  </button>
</form>

<hr>

<a href="/reviews">
  Go back
</a>
